* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f6ecd2;
}
#container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.7em;
  margin: 3rem auto;
  min-width: 1100px;
  min-height: 1050px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
header {
  background-color: rgba(231, 229, 229, 0.5);
  font-size: 2.75em;
  padding: 0.5em;
  color: rgb(216, 150, 7);
}
header span {
  font-family: 'Sacramento', cursive;
}
#photos img {
  margin: 0.75em;
  border: 0.85em solid rgb(255, 255, 255);
}
h2 {
  color: rgb(60, 190, 160);
  text-transform: uppercase;
  margin-top: 2rem;
}
section#blogposts {
  padding: 2rem;
}
.post {
  margin: 25px 0;
  padding: 25px;
  border: 2px solid rgba(83, 78, 58, 0.6);
  border-radius: 0.5em;
  background: #fff;
}
footer {
  text-align: center;
  font-size: 0.85em;
  margin-top: 2rem;
}
.nav {
  margin-top: 1rem;
}
.nav a {
  color: #d60000;
  font-weight: bold;
  margin-right: 1rem;
  text-decoration: none;
}
.nav a:last-child {
  color: #d60000;
}
.nav .nav-info {
  color: #0056b3;
  font-weight: normal;
  margin-left: 1rem;
}
